body {
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	max-width: 1440px;
	margin: 0 auto;
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

hgroup {
	margin: 0 auto;
}